.example-header-image{
    background-image: url('../../../../assets/evento.png');
    background-size: cover;
  }

  .actions-container {
    display: flex;
    justify-content: space-between;
  }
  
  .texto-verde {
    color: green;
  }
