<div class="landing-wrapper">
  <div class="overlay">
    <div class="container text-center content-box">
      <h1 class="title">Bienvenido a <span class="highlight">EcoVida</span></h1>
      <p class="subtitle">Un portal sobre sostenibilidad y conciencia ambiental</p>
      <button mat-raised-button color="primary" class="start-button" [routerLink]="'/login'">
        <mat-icon>eco</mat-icon> Iniciar recorrido
      </button>     
    </div>
  </div>
</div>


<!--
<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row mt20">
        <div class = "col-md-6 offset-md-3 text-center">
          <h1>Bienvenido al portal de EcoVida</h1>
          <button mat-raised-button color = "primary">Inicio</button>
        </div>
      </div>
    </div>
  </div>
-->